<Configuration packages="com.microsoft.applicationinsights.log4j.v2">
    <CustomLevels>
        <CustomLevel name="AUDIT" intLevel="150" />
    </CustomLevels>
    <Appenders>
        <ApplicationInsightsAppender name="aiAppender" instrumentationKey="ed81746f-aee4-4a8e-8342-f58290c9550b" />
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="aiAppender"/>
        </Root>
    </Loggers>
</Configuration>